<nav>
    <ul class="nav nav-tabs">
        <li><a href="./#/table">Table</a></li>
        <li class="active"><a ng-href="./#/teams">Teams</a></li>
        <li><a href="./#/fixtures">Fixtures</a></li>
        <li><a><input type="text" ng-model="nameFilter" placeholder="Search..." /></a></li>
    </ul>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Team Name</th>
            <th>Team Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="team in teamsList | filter: nameFilter">
            <td><img src="{{team.logo}}" width="50" height="50" /></td>
            <td><a ng-href="#/team/{{team.team_id}}">{{team.name}}</a></td>
            <td>{{team.squadMarketValue}}</td>
        </tr>
    </tbody>
</table>