<section id="main">
  <nav>    
    <ul class="nav nav-tabs">
        <li><a href="./#/teams">Back to teams list</a></li>
        <li class="active"><a ng-href="./#/team/{{id}}">Team</a></li>
        <li><a ng-href="./#/team/{{id}}/players">Players</a></li>
    </ul>
    <div class="container-fluid">
        <div class="text-center">
            <img ng-show="team" src="{{team.crestUrl}}" height="100" />
        </div>
    </div>
  </nav>

  <div class="main-content">
    <table class="table table-striped">
      <thead>
        <th>Date</th> <th>Home Team</th> <th>Away Team</th> <th>Result</th>
      </thead>
      <tbody>
        <tr ng-repeat="fixture in fixtures">
          <td>{{fixture.date | date : 'dd-MM-yyyy'}}</td>
          <td>{{fixture.homeTeamName}}</td>
          <td>{{fixture.awayTeamName}}</td>
          <td>{{fixture.result.goalsHomeTeam}} : {{fixture.result.goalsAwayTeam}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>