  <input type="text" ng-model="nameFilter" placeholder="Search..." />
  <table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Logo</th>
            <th>Team Name</th>
            <th>Team Squad Value</th>
        </tr>
    </thead>  
      <tbody>
        <tr ng-repeat="team in teamsList | filter: nameFilter">
            <td>{{$index +1}}</td>
            <td><img src="{{team.crestUrl}}" width="50" height="50" /></td>
            <td><a ng-href="#/team/{{team.teamID}}">{{team.name}}</a></td>
            <td>{{team.squadMarketValue}}</td>
        </tr>  
    </tbody>
  </table>